#contact-area {
  background: #282c34;
}

.contact-about {
  color: aliceblue;
  font-family: "Splash", cursive;
}

.contact-form .form-control {
  padding: 1.5rem 0.75rem;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--bg-color);
  border-radius: 2rem !important;
  border: 1px solid var(--secondary-color);
  box-shadow: 0rem 0rem 2rem 1rem black, 0 0 5rem blue, 0 0 10rem darkblue;
}

.contact-form input.form-control {
  margin-bottom: 2rem;
  height: calc(2.5rem + 0.75rem + 2px);
  box-shadow: 0rem 0rem 2rem 1rem black, 0 0 5rem blue, 0 0 10rem darkblue;
  border: 1px solid var(--secondary-color);
}

#subButton {
  color: gray;
  background: black;
  box-shadow: 0rem 0rem 1rem 0rem black, 0 0 5rem blue, 0 0 10rem darkblue;
  border-color: var(--secondary-color);
  border-radius: 1rem !important;
}
