:root {
  --main-bg-color: #282c34;
  --bg-color: #0c0c0c;
  --primary-color: #0d0d0d;
  --secondary-color: gold;
  --behind-secondary-color: var(--text-color-2);
  --text-color: aliceblue;
  --text-color-2: #fff;
  --overlay-color: rgba(18, 24, 148, 0.63);
}

body {
  background: var(--main-bg-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
