:root {
  --main-bg-color: #282c34;
  --bg-color: #000000;
  --secondary-color: gold;
  --behind-secondary-color: var(--text-color-2);
  --text-color: aliceblue;
}

body {
  background: var(--main-bg-color);
  margin: 0;
}
